body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #0078d4;
    color: #fafbfb;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

#personal-info, #education, #skills, #certifications {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

#personal-info {
    background-color: #fed4e0;
}

#education, #skills, #certifications {
    background-color: #fed4e0;
}
